tabula-py
textblob
# gensim
nltk
xlsxwriter
PyPDF2
requests
beautifulsoup4
GitPython

# 080424 RH
# Latest scipy version not compatible due to : scipy.linalg functions tri, triu & tril are deprecated and will be removed in SciPy 1.13.
# Causes: ImportError: cannot import name 'triu' from 'scipy.linalg'. Hence fix to prev working version until can revisit/switch libraries in use to numpy ones. 
# scipy
# scipy==1.10.1 
scipy==1.15.2

